
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <img src="~/Content/logo/FDC-google.jpg" />
    <br />

    <p class="lead">FDC Innovation labs chat bots Demo</p>
</div>
<div class="row">
    <div class="col-md-12">
        
            <td>

                <a href="@Url.Action("FDC_BOT","HOME")" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">FDC bot</a>
                <a href="@Url.Action("OTD_bot","HOME")" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">OTT bot</a>
                <a href="@Url.Action("TripPlanner_bot","HOME")" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">TripPlanner bot</a>

            </td>
    </div>
</div>
