<div class="jumbotron">
    <img src="~/Views/logo/FDC-google.jpg" height="80" width="240" />
    <h1>FDC Innovation Labs </h1>
    <p class="lead">FDC Innovation labs chat bot Demo</p>
</div>
<div class="row">
    <div class="col-md-4">

        <iframe allow="microphone;"
                width="350"
                height="430"
                src="https://console.dialogflow.com/api-client/demo/embedded/24ea6d57-b45a-45ee-bd3a-827986b46e23"></iframe>

    </div>
    <div class="col-md-4">
        <h2>Some sample data</h2>
        <table class="table">

            <tr><td>9822763405</td><td>	1993-06-10</td></tr>
            <tr><td>8788501510</td><td>	1994-07-10</td></tr>
            <tr><td>9822172776</td><td>	1993-07-11</td></tr>
            <tr><td>9814250385</td><td>	1995-03-22</td></tr>
            <tr><td>8788511478</td><td>	1992-01-12</td></tr>
            <tr><td>9822121245</td><td>	1991-09-16</td></tr>
            <tr><td>9822121245</td><td>	1996-06-10</td></tr>
        </table>
    </div>

    <div class="col-md-4">
        <h2>Flow</h2>
        <p>Me : Hey what prepaid plans are available ?</p>
        <p>Bot: Plans are ... (data from api)</p>
        <p>Me: And which plan i am using ?</p>
        <p>Bot: Kindly confirm your phone Number and birthdate</p>
        <p>Me: One of the data </p>
        <p>Bot: Repondes with data</p>
    </div>
    <div class="col-md-4">
        <h2>Some sample data</h2>
        <table class="table">

            <tr><td>Netflix</td><td>3 Month Subscription</td><td>Now at Rs.149/-</td></tr>
            <tr><td>Netflix</td><td>1 Year Subscription</td><td></td>Now at Rs.249/-</td00></tr>
            <tr><td>Amazon Prime</td><td>3 Month Subscriptionn</td><td>Now at Rs.149/-</td></tr>
            <tr><td>Amazon Prime</td><td>1 Year Subscription</td><td>Now at Rs.249/-</td></tr>
            <tr><td>Hot star</td><td>3 Month Subscription</td><td>Now at Rs.149/-</td></tr>
            <tr><td>Hot star</td><td>1 Year Subscription</td><td>Now at Rs.249/-</td></tr>
           
        </table>
    </div>
</div>
